PORT=3333
HOST="0.0.0.0"

# O caminho absoluto para o arquivo JSON contendo a chave de serviço do Firebase
# Exemplo Windows: "C:\\Users\\SeuUsuario\\service-account.json"
# Exemplo Linux/Mac: "/home/usuario/service-account.json"
# ATENÇÃO: NUNCA COMITE ESSE ARQUIVO JSON NO GIT!
GOOGLE_APPLICATION_CREDENTIALS="caminho/para/seu/service-account.json"
